[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=rofi -show drun
Name=Rofi
Icon=debian-logo
Keywords=application-launcher;window-switcher;
X-XFCE-Source=file:///usr/share/applications/rofi.desktop
Comment=
Path=
StartupNotify=false
